---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Portfolio Adrián López">
	<main>
		<h1>¡Hola! Soy Adrián López <badge>Disponible para trabajar</badge></h1>
		<h2>2 años de Experiencia. Desarrollador web.</h2>
	</main>
</Layout>