---
import ExperienceItem from "./ExperienceItem.astro";

export const EXPERIENCES = [
    {
        date: "Enero 2024",
        title: "Desarrollador Junior Asistentes Conversacionales - NTT Data ",
        description: `Desarrollador en integraciones de chatbots y voicebots en distintos
proyectos en canales como Whatsapp, Teams, webchat. Utilizando
metodologías “agile” marcadas por sprints.
Lenguajes: Java, Javascript.
Librerías y Frameworks: Mockito, NodeJs.
Herramientas: VSC, Eclipse, Git, Github, MIRO, FIGMA, Jenkins, Fortify,
Postman, JIRA.`,
        link: 'https://www.linkedin.com/in/adri%C3%A1n-l%C3%B3pez-desarrollo-web/'
    },
    {
        date: "Julio 2023",
        title: "Junior Designer - NTT Data",
        description: `Diseñador técnico y asistente de soluciones en un proyecto para Telefónica
en la parte funcional (diagramas de flujo, diagrama de clases, diagrama de
componentes, etc...) y módulos con la herramienta del cliente (ARIS/ARIS
Designer - Telefónica), pensamiento de la parte lógica del desarrollo, definir
pruebas intraproceso y redactar la documentación técnica.`,
    },
    {
        date: "Noviembre 2022",
        title: "Estudiante en prácticas - NTT Data",
        description: `Mantenimiento y mejoras innovadoras de una página web interna para
empleados de Telefónica.
- Lenguajes: JAVA, CSS, HTML, XML, JavaScript, SQL, UNIX, SOAP.
- Herramientas: Eclipse, TOAD, Putty, SVN, GIT, Teams, SONAR, ALM, otras
herramientas propias de cliente.`,
    }
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCES.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
                </li>
        ))
    }
</ol>
