---
import ExperienceItem from "./ExperienceItem.astro";

export const EXPERIENCES = [
    {
        date: "Enero 2024",
        title: "Desarrollador Junior Asistentes Conversacionales - NTT Data ",
        description: "Desarrollador con diferentes equipos para diferentes proyectos para diferentes empresas (Ilunion, Banco Santander y Chazz) para sus Asistentes Conversacionales (Chatbots, VoiceBots) en plataformas como Whatsapp y Microsoft Teams a través del propio bot de NTT Data (eVA) entre otros.",
        link: '#'
    },
    {
        date: "Julio 2023",
        title: "Junior Designer - NTT Data",
        description: "Diseñador técnico de programas y módulos con la herramienta del cliente (ARIS - Telefónica), desarrollo y pensamiento de la parte lógica del desarrollo, definir pruebas intraproceso y redactar toda la documentación técnica",
    },
    {
        date: "Noviembre 2022",
        title: "Estudiante en prácticas - NTT Data",
        description: "He trabajado como estudiante en el periodo de formación FP Dual trabajando con Lenguajes de programación como JAVA, CSS, HTML, XML, JavaScript, SQL, UNIX, SOAP y Herramientas como Eclipse, TOAD, Putty, SVN, GIT, Teams, SONAR, ALM, otras herramientas propias de cliente",
        link: '#'
    }
];
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCES.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
                </li>
        ))
    }
</ol>
