<header class="flex justify-between items-center py-3 w-[1120px]">
    <img 
    class="w-10 h-10 rounded-full"
    src="https://media.licdn.com/dms/image/C5603AQEoBKtVCFskRQ/profile-displayphoto-shrink_800_800/0/1635428384893?e=2147483647&v=beta&t=ShwsElyXwtvWIsPFBin4pslN2yM9J0Up-aO7ow2Qceo" 
    alt="Adrian Lopez Foto">

    <nav class="flex flex-row gap-x-10">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="">Contact</a>

    </nav>
</header>