---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className} w-full mx-auto my-auto lg:w-[740px] ${Astro.props.class}`}
>
  <slot />
</section>

<style>
  .parent {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
</style>
